.todos {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 350px 350px 350px;
  gap: 2rem 2rem;
  .content {
    padding: 0.5rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  }
  .buttons {
    display: flex;
    justify-content: center;
    button {
      width: 50px;
      height: 30px;
      font-size: 20px;
    }
    .modal {
      .form {
        form {
          font-size: 1.25rem;
          input[type="text"],
          [type="email"] {
            width: 25%;
            height: 30px;
            margin: 0 10px;
            font-size: inherit;
          }
        }
      }
    }
  }
}
