.main {
  .title {
    background: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(15rem - 100px);
  }
  .search {
    padding-top: 25px;
    .input {
      width: 55%;
      height: 30px;
    }
  }
  .add_button {

  }
}
